<!DOCTYPE html>
<html lang="eu" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Display Array</title>
</head>
<body>
<div class="MainPage">
    <table>
        <tr th:each="row: ${board}">
            <td th:each="value: ${row}">
                <button th:if="${not #strings.isEmpty(value)}">
                    <img th:src="@{${'/img/' + value.get_name() +'_'+ value.is_white() + '.png'}}" width="120" th:alt="${value.get_name()}"/>
                </button>

            </td>
        </tr>
    </table>
</div>
</body>
</html>